/*

  Color Scheme

*/
.color-scheme {
  color: #fff; /* Base color : Background */
  color: #999; /* Base color : Foreground - Sub, Shadow */
  color: #333; /* Base color : Foreground */
  color: #5ec63e; /* Theme color : Bright - link foreground (with white background) */
  color: #66b72d; /* Theme color : Bright - link background (with white foreground) */
  color: #95bc79; /* Theme color : Bright alternative */
  color: #62a433; /* Theme color : Base */
  color: #4c7f27; /* Theme color : Dark */
}
