:root {
  --base-color-background: #fff; /* Base color : Background */
  --base-color-foreground-shadow: #999; /* Base color : Foreground - Sub, Shadow */
  --base-color-foreground: #202124; /* Base color : Foreground */
  --decoration-color-bright-1: #5ec63e; /* Decoration color : Bright - link foreground (with white background) */
  --decoration-color-bright-2: #66b72d; /* Decoration color : Bright - link background (with white foreground) */
  --decoration-color-bright-3: #95bc79; /* Decoration color : Bright alternative */
  --decoration-color-bright-4: #e4eedb; /* Decoration color : Bright pale - Background (with black foreground) */
  --decoration-color-base: #62a433; /* Decoration color : Base */
  --decoration-color-dark: #4c7f27; /* Decoration color : Dark */
  --dark--2: #080807;
  --dark--1: #10110f;
  --dark-0: #1e1f1c;
  --dark-1: #30312d;
  --dark-2: #484944;
  --light--2: #c2bbad;
  --light--1: #e7e1d6;
  --light-0: #f1eee9;
  --light-1: #faf4ec;
  --light-2: #fffdf9;
  --passion--1: #701302;
  --passion-0: #aa1f06;
  --passion-1: #c22e14;
  --orange--1: #c57907;
  --orange-0: #e79213;
  --orange-1: #f8a932;
  --lime--1: #88b326;
  --lime-0: #b5e24a;
  --lime-1: #cffd63;
  --forest--1: #023112;
  --forest-0: #065320;
  --forest-1: #096929;
  --turquoise--1: #0f9999;
  --turquoise-0: #1ac0c0;
  --turquoise-1: #2edddd;
  --sky--1: #0a76ce;
  --sky-0: #1293fc;
  --sky-1: #46acff;
  --ocean--1: #06216b;
  --ocean-0: #0a3099;
  --ocean-1: #0d42d4;
  --grape--1: #780986;
  --grape-0: #930ca5;
  --grape-1: #bd14d3;
}
body {
  letter-spacing: 0.1em;
  color: var(--dark-0);
  background-color: var(--light-0);
}
h1,
h2,
h3,
h4,
h5,
h6,
html.text.md main.page-element h1,
html.text.md main.page-element h2,
html.text.md main.page-element h3,
html.text.md main.page-element h4,
html.text.md main.page-element h5,
html.text.md main.page-element h6 {
  margin: 0;
}
section:has(> h1) {
  margin-top: 60px;
}
section:has(> h2) {
  margin-top: 50px;
}
section:has(> h3) {
  margin-top: 40px;
}
section:has(> h4) {
  margin-top: 32px;
}
section:has(> h5) {
  margin-top: 26px;
}
section:has(> h6) {
  margin-top: 22px;
}
h1 + p,
h1 + ul,
h1 + ol,
h1 + pre,
h1 + table,
html.text.md main.page-element h1 + p,
html.text.md main.page-element h1 + ul,
html.text.md main.page-element h1 + ol,
html.text.md main.page-element h1 + pre,
html.text.md main.page-element h1 + table {
  margin-top: 30px;
}
h2 + p,
h2 + ul,
h2 + ol,
h2 + pre,
h2 + table,
html.text.md main.page-element h2 + p,
html.text.md main.page-element h2 + ul,
html.text.md main.page-element h2 + ol,
html.text.md main.page-element h2 + pre,
html.text.md main.page-element h2 + table {
  margin-top: 20px;
}
h3 + p,
h3 + ul,
h3 + ol,
h3 + pre,
h3 + table,
html.text.md main.page-element h3 + p,
html.text.md main.page-element h3 + ul,
html.text.md main.page-element h3 + ol,
html.text.md main.page-element h3 + pre,
html.text.md main.page-element h3 + table {
  margin-top: 10px;
}
h4 + p,
h4 + ul,
h4 + ol,
h4 + pre,
h4 + table,
html.text.md main.page-element h4 + p,
html.text.md main.page-element h4 + ul,
html.text.md main.page-element h4 + ol,
html.text.md main.page-element h4 + pre,
html.text.md main.page-element h4 + table {
  margin-top: 5px;
}
p + p,
html.text.md main.page-element p + p {
  margin-top: 1em;
}
ul,
ol {
  display: inline-block;
}
li + li,
li + ul,
li + ol,
ul + li,
ol + li {
  margin-top: 10px;
}
li + ul,
li + ol {
  padding-left: 25px;
}
li input[type="checkbox"] {
  user-select: text;
}
pre {
  line-height: 1.7;
}
table,
td,
th {
  border-style: solid;
  border-color: var(--decoration-color-dark);
}
table {
  border-collapse: separate;
  border-spacing: 0;
  border-width: 1px;
}
td,
th {
  padding: 10px 15px;
  line-height: 1.5;
  vertical-align: top;
  border-width: 1px 0 0 1px;
}
tr:first-child td,
tr:first-child th {
  border-top-width: 0;
}
td:first-child,
th:first-child {
  border-left-width: 0;
}
thead + tbody tr:first-child td,
thead + tbody tr:first-child th {
  border-top-width: 1px;
}
tfoot tr:first-child td,
tfoot tr:first-child th {
  border-top-width: 1px;
}
a {
  text-decoration-style: dotted;
  text-decoration-thickness: 1px;
  text-decoration-color: var(--decoration-color-dark);
  color: var(--dark-0);
}






#etc {
  display: none;
  box-sizing: border-box;
  margin: auto;
  padding: 15px;
}
#etc {
  background-color: var(--light-0);
}
@media (prefers-color-scheme: dark) {
  #etc {
    background-color: var(--dark-0);
  }
}
html.use-popup #etc {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
  html.use-popup #cover {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8)
}




#container {
  width: 90%;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  box-sizing: border-box;
}
#container > div,
#contaienr > header,
#container > main,
#container > footer,
#container > pre {
  width: 100%;
  box-sizing: border-box;
}
/*

  site header

*/
/* header */
html.index header.site-element,
html.cover header.site-element {
  padding-top: 30px;
  text-align: center;
}
html.index header.site-element {
  padding-bottom: 100px;
}
html.cover header.site-element {
  padding-bottom: 30px;
}
@media (max-width: 450px) {
  html.text header.site-element {
    text-align: center;
  }
}
/* h1 */
header.site-element h1 {
  margin: 0;
}
/* a */
header.site-element a {
  display: inline-block;
  text-decoration: none;
}
html.index header.site-element a,
html.cover header.site-element a {
  width: 300px;
}
html.text header.site-element a {
  width: 150px;
}
/* p */
html.index header.site-element p,
html.cover header.site-element p,
html.text header.site-element p {
  font-weight: normal;
  color: var(--decoration-color-base);
}
html.index header.site-element p,
html.cover header.site-element p {
  margin: -20px 0 0;
  font-size: 16px;
}
html.text header.site-element p {
  margin: -15px 0 0;
  font-size: 8px;
}
/* img */
html.index header.site-element img,
html.cover header.site-element img,
html.text header.site-element img {
  width: 100%;
}
/* h */
html.text header.site-element h1 {
  display: inline-block;
  text-align: center;
}
/*

  site footer

*/
footer.site-element {
  text-align: center;
}
html.index footer.site-element {
  padding-top: 80px;
}
html.cover footer.site-element {
  padding-top: 30px;
}
html.text footer.site-element {
  padding-top: 30px;
}
/*

  site aside

*/
aside.site-element {
  text-align: center;
}
html.index aside.site-element {
  padding-top: 80px;
}
html.cover aside.site-element {
  padding-top: 30px;
}
html.text aside.site-element {
  padding-top: 30px;
}
/*

  site main

*/
main.site-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}
header.page-element {
  text-align: center;
}
header.page-element h2 {
  margin-top: 5px;
  font-size: 28px;
  letter-spacing: 0.1em;
}
header.page-element h3 {
  margin-top: 5px;
  font-size: 25px;
  letter-spacing: 0.1em;
}
nav {
  text-align: center;
}
html.cover header.page-element nav {
  padding-bottom: 50px;
}
html.cover header.page-element nav {
  padding-top: 20px;
  padding-bottom: 20px;
}
html.cover footer.page-element nav {
  padding-top: 50px;
}
html.text header.page-element nav {
  padding-top: 20px;
  padding-bottom: 20px;
}
html.text footer.page-element nav {
  padding-top: 20px;
}
html.text main.page-element {
  padding-top: 50px;
  padding-bottom: 50px;
}
html.text .nav-outer + .nav-inner,
html.text .nav-inner + .nav-outer {
  margin-top: 10px;
}
html.text .nav-inner {
  text-align: center;
}
html.text .nav-inner table,
html.text .nav-inner tr,
html.text .nav-inner td {
  padding: 0;
  border-width: 0;
}
html.text .nav-inner table {
  margin: auto;
}
html.text .nav-inner td:nth-child(2) {
  text-align: center;
}
html.text .nav-inner td:first-child,
html.text .nav-inner td:last-child {
  width: calc(560px / 2 - 50px);
}
html.text .nav-inner td:first-child {
  text-align: right;
}
html.text .nav-inner td:last-child {
  text-align: left;
}
html.text .nav-inner .nav-separater {
  padding: 0 10px;
}
.unit {
  text-align: center;
}
.unit ul,
.unit ol {
  margin-left: -30px;
  text-align: left;
}
.unit + .unit {
  margin-top: 50px;
}
/*

  page element

*/
html.index thead {
  vertical-align: bottom;
  background-color: var(--decoration-color-bright-4);
}
html.index table th:first-child,
html.index table td:first-child {
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
}
html.index table th:last-child,
html.index table td:last-child {
  padding-right: 5px;
  padding-left: 5px;
  text-align: center;
}
html.text main.page-element p {
  margin: 0;
  line-height: 1.7;
}
html.text.yml main.page-element div {
  padding-left: 1em;
  line-height: 1.5em;
}
html.text.yml main.page-element div + div {
  margin-top: 0.3em;
}
html.text.yml main.page-element pre {
  margin: 0;
  font-family: monospace;
  line-height: 1;
  letter-spacing: 0;
}
html.text.yml main.page-element {
  color: #e6d874;
}
html.text.yml main.page-element span.key {
  color: #f92672;
}
html.text.yml main.page-element span.colon,
html.text.yml main.page-element span.bullet {
  color: #f8f8f2;
}
html.text.yml main.page-element span.number {
  color: #ae81ff;
}
html.text.yml main.page-element span.vertical-bar {
  color: #f92672;
}
html.text.yml main.page-element span.comment {
  color: #88846f;
}
html.text.yml main.page-element strong {
  font-weight: bold;
  color: #66d9ef;
}
html.text.yml main.page-element em {
  font-style: italic;
  color: #a6e228;
}
span.select,
span.point,
span.decided,
span.arrow {
  font-family: consolas, monospace;
  letter-spacing: 0;
}
span.select,
span.point,
span.decided {
  font-weight: bold;
}
span.arrow {
  font-weight: normal;
}
span.select {
  color: #a6e228;
}
span.point {
    color: #ffd700;
}
span.decided {
  color: #f92672;
}
a.aside {
  color: #ae81ff;
}
span.arrow {
  color: #66d9ef;
}
@media (prefers-color-scheme: dark) {
  body {
    color: var(--light-0);
    background-color: var(--dark-0);
  }
  table,
  td,
  th {
    border-color: var(--decoration-color-bright-3);
  }
  a {
    text-decoration-color: var(--decoration-color-bright-3);
    color: var(--light-0);
  }
  html.index thead {
    background-color: var(--decoration-color-dark);
  }
  html.text main.page-element p {
    color: var(--light-0)
  }
}
