/*

  一般的な設定

*/
body,
div {
  margin: 0;
  padding: 0;
}
h1 {
  margin-top: 0;
  margin-left: 0;
  margin-bottom: 0;
  font-size: 40px;
  font-weight: bold;
}
h2 {
  margin-top: 50px;
  margin-left: 15px;
  font-size: 30px;
  font-weight: bold;
}
/*

  固有の設定

*/
body {
  color: #222;
  background-color: #fff;
}
#frame {
  width: 600px;
  max-width: 95%;
  margin: auto;
}
#text {
  padding: 30px 0 50px 0;
  font-family: "メイリオ", "Meiryo", "Lucida Grande", "sans-serif";
}
#text p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 28.8px;
}
#text h1 + p {
  margin-top: 50px;
}
#text h1 {
  text-align: center;
}
#toc {
  display: inline-block;
  margin-top: 80px;
  margin-right: auto;
  margin-left: auto;
}
#toc li + li {
  margin-top: 10px;
}
.to-toc {
  text-align: center;
}
.addition {
  position: relative;
  width: 100%;
  text-align: center;
}
.addition.first {
  margin-top: 30px;
}
.addition.last {
  margin-bottom: 30px;
}
.addition a {
  display: inline-block;
  padding: 10px 5px 0 5px;
}
.addition.hidden {
  display: none;
}
.adjacent-box {
  display: inline-block;
  width: 49%;
  text-align: right;
}
.adjacent-box + .adjacent-box {
  text-align: left;
}
#length {
  line-height: 40px;
  vertical-align: bottom;
}
a,
a:visited,
a:hover {
  color: #62a433;
}
@media (prefers-color-scheme: dark) {
  body {
    color: #ccc;
    background-color: #111;
  }
}
@media print {
  html body {
    color: #222;
    background-color: #fff;
  }
  #frame {
    width: 100%;
  }
  #text {
    margin: 0;
    padding: 0;
    font-family: serif;
  }
  #text p {
    font-size: 18px;
    line-height: 36px;
  }
}
